.box{
    width: 375px;
    margin: 100px auto;
    padding: 30px;
    background-image:url(../imagen/fondo.avif);
    background-position: center;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2); 
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    backdrop-filter: brightness(40%);
}

h1 {
    font-weight: normal;
    font-size: 24px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

input {
    background: rgba(255,255,255,0.3);
    height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 10px;
    color: white;
}


.btn-ingresar {
    display: block;
    text-align: center;
    background: rgb(45,126,233);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    margin: 10px auto;
    width: 60%;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}


.btn-registrar {
    display: block;
    text-align: center;
    background: rgb(90, 42, 112);
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    margin: 10px auto;
    width: 60%;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
